{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
  {% trans 'Home' %}
  &rsaquo; {% trans 'Password reset' %}
  </div>
{% endblock %}

{% block branding %}
  <h1 id="site-name">
      {{ site_header|default:_('QuizMaker') }}
  </h1>
{% endblock %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<p>{% trans "Your password has been successfully changed." %}</p>

{% endblock %}
